body{
    background-color: #181818;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50%;
}
label{
    color: white;
    font-size: 14px;
    font-family: "Arial Black";
}
.form-group{
    padding: 10px;
}
input{
    width: 250px;
    height: 25px;
    outline: none;
    border-radius: 6px;
    border: 2px solid orange;
    background-color: #edf2f7;
    transition: 0.5s all;
}
input:hover{
    transform: scale(1.1);
}
button{
    width: 180px;
    height: 40px;
    margin-left: 15%;
    margin-top: 5%;
    font-family: "Arial Black";
    border: 2px solid orange;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s all;
}
button:hover{
    transform: scale(1.1);
}
.alert{
    background-color: #f68080;
    padding: 1px 1px 1px;
    border-radius: 5px;
}
