body {
    font-family: 'Nunito', sans-serif;
    background-color: #181818;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-text{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 300px;
    left: 0;
    text-align: center;
}

button{
    width: 110px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 2s all;
    position: relative;
    left: 15%;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
button:hover{
    transform: scale(1.1);
}
